config==0.5.1
contourpy==1.0.7
cors==1.0.1
datatables==0.4.9
DateTime==5.1
fastjsonschema==2.17.1
filelock==3.13.1
Flask==2.1.2
Flask-Cors==4.0.0
Flask-Mail==0.9.1
flatbuffers==23.5.26
fonttools==4.39.4
gitdb==4.0.10
GitPython==3.1.31
gunicorn==20.1.0
h5py==3.10.0
image==1.5.33
importlib-metadata==6.6.0
ipykernel==6.23.1
itsdangerous==2.1.2
jedi==0.18.2
Jinja2==3.1.2
joblib==1.2.0
json5==0.9.14
jsonify==0.5
jsonpointer==2.4
jsonschema==4.17.3
locket==1.0.0
Mail==2.1.0
Markdown==3.5.1
mccabe==0.7.0
mdurl==0.1.2
notebook_shim==0.2.3
numpy==1.24.3
oauthlib==3.2.2
openpyxl==3.1.2
opt-einsum==3.3.0
overrides==7.3.1
packaging==23.1
pandas==2.1.4
pandocfilters==1.5.0
platformdirs==3.5.1
preshed==3.0.9
prometheus-client==0.17.0
prompt-toolkit==3.0.38
protobuf==3.20.3
psutil==5.9.5
pylibsrtp==0.9.1
pylint==2.17.4
Pympler==1.0.1
pypiwin32==223
PyRect==0.2.0
pyrsistent==0.19.3
python-dateutil==2.8.2
python-decouple==3.8
python-json-logger==2.0.7
reqs==0.0.2
requests==2.31.0
requests-file==1.5.1
scikit-elm==0.21a0
scipy==1.11.1
Send2Trash==1.8.2
simplejson==3.19.2

